@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: Gambarino;
  src: url("cote-royale/fonts/Gambarino.woff2") format("woff2");
}

@theme {
  --font-raleway: "Raleway", "sans-serif";
  --font-gambarino: "Gambarino";
  --font-display: "Playfair Display", "serif";
}

@layer base {
  body {
    @apply font-raleway bg-neutral-900 text-white;
  }
}

/* Background Effects */
.glow-background {
  background-color: hsla(0, 0%, 0%, 0);
  background-image:
    radial-gradient(at 29% 43%, hsla(190, 70%, 90%, 0.08) 0px, transparent 50%),
    radial-gradient(at 53% 28%, hsla(190, 90%, 90%, 0.18) 0px, transparent 50%),
    radial-gradient(at 47% 71%, hsla(190, 70%, 90%, 0.13) 0px, transparent 40%),
    radial-gradient(at 3% 95%, hsla(190, 0%, 10%, 0.2) 0px, transparent 50%),
    radial-gradient(at 3% 3%, hsla(140, 80%, 10%, 0.2) 0px, transparent 50%),
    radial-gradient(at 90% 5%, hsla(200, 80%, 5%, 0.2) 0px, transparent 50%),
    radial-gradient(at 90% 80%, hsla(230, 80%, 10%, 0.2) 0px, transparent 50%);
}
